nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    flex-wrap: wrap;
}
nav h1{
    text-align: center;
    color: white;
}
ul{
    display: flex;
    padding-top:15px; 
}
ul li{
    text-decoration: none;
    list-style: none;
    padding: 10px;
}